*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.primary-app {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
}

/* Smartphones (potrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    font-size: 14%;
  }
}

/* Smartphones (landscape) */
@media only screen and (min-width: 480px) {
  html {
    font-size: 62.5%;
  }
}

/* Smartphones (potrait) */
@media only screen and (max-width: 1080px) {
  html {
    font-size: 30%;
  }
}

/* iPads (landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) and (orientation: landscape) {
    html {
        font-size: 39%;
    }
}

/* iPads (potrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) and (orientation: portrait) {
    html {
        font-size: 29%;
    }
}

/* Desktops and Laptops */
@media only screen and (min-width: 1224px) {
    html {
        font-size: 62.5%;
    }
}

/* Larger Screen */
@media only screen and (min-width: 2884px) {
    html {
        font-size: 100%;
    }
}